.space {
    margin-top: 5%;
}

.content {

    background-color: white;
    height: 700px;
    width: 1200px;

    margin: 0 auto;

}

@media screen and (max-width: 800px) {
    .content {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}

.column {
    width: 33%;
    text-align: center;
    margin-top: 10%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.rows {
    text-align: center;
}

.row3 {
    text-align: center;
}

.calculateBtn {
    text-align: center;
}

.header-text {
    margin: 0 auto;

    text-align: center;
}

.characters-reload {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.plane1 {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.plane2 {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.plane3 {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}