.space {
    margin-top: 5%;
}

#content {

    background-color: white;
    height: 800px;
    width: 1200px;

    margin: 0 auto;

    border-style: ridge;
    border-color: lightskyblue;
}

#char-icon {
    display: inline;
}

#char-icon img{
    width: 50px;
    height: 50px;
}

select {
    width: 200px;
}

/* input > text{
    width: 50px;
} */

.header-text {
    text-align: center;
}

.inner-block {
    column-count: 3;

    text-align: center;
    column-rule-style: solid;
    column-rule-color: lightcoral;
}

.bot-block {
    text-align: center;
}

.footer {
    visibility: hidden;
}

@media screen and (max-width: 800px) {
    #content {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
        height: 90%;
        font-size: 12px;
    }

    select {
        width: 75px;
    }
    
    input {
        width: 45px;
    }

    #char-icon {
        position: absolute;;
        visibility: hidden;
    }

    .footer {
        text-align: center;
        visibility: visible;
    }
}

@media screen and (max-width: 375px) {
    #content {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
        height: 90%;
        font-size: 10px;
    }

    select {
        width: 75px;
    }
    
    input {
        width: 33px;
        text-align: center;
    }

    input .button {
        width: 50px;
        text-align: center;
    }

    #char-icon {
        position: absolute;;
        visibility: hidden;
    }

    .footer {
        text-align: center;
        visibility: visible;
    }
}

@media screen and (max-width: 1200px) {
    #content {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
        height: 90%;
        font-size: 10px;
    }

    select {
        width: 75px;
    }
    
    input {
        width: 33px;
        text-align: center;
    }

    input .button {
        width: 50px;
        text-align: center;
    }

    #char-icon {
        position: absolute;;
        visibility: hidden;
    }

    .footer {
        text-align: center;
        visibility: visible;
    }
}