
/* .container {
    margin: auto;
    text-align: center;
} */

.icon-header-text {

    margin-top: 10px;

    padding-top: 30px;
    text-align: center;
    
    font-size: 50px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 400; 
    line-height: 24.8px;
}

.menu{
    /* margin-left: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    left: 10%;
}

.menu-button img {
    margin-top: 20px;

    width: 500px;
    opacity: 75%;
    border-style: dotted;
}

.menu-button img:hover {
    opacity: 100%;
}

@media screen and (max-width: 800px) {
    .menu-button img{
        width: 350px;
    }
}