.icon-header-text {

    margin-top: 10px;

    padding-top: 30px;
    text-align: center;

    font-size: 50px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 400;
    line-height: 24.8px;
}

.home-btn-container {
    display: list-item;
    text-align: center;
    align-items: center;
    position: relative;

    margin: auto;
    margin: 0 auto;

    cursor: pointer;
}

.home-btn-container .detail {
    position: relative;

    text-align: left;
}

.menu-button img {
    height: 200px;
    width: 400px;

    opacity: 75%;

}

.menu-button img:hover,
.home-btn-container:hover {
    opacity: 100%;
    box-shadow: rgb(161, 30, 212);

}

@media screen and (max-width: 800px) {
    .home-btn-container img {
        max-width: 200px;
        height: auto;
    }
}